DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCONNECT_TIMEOUT_MS=180000
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_NODE_NAME=local
pub=
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDFhMCEZQ7RKX0G3hiEJywAVsIICut3PQd/R4RHkbzuV0J/4+yed0q7tg+YwqArSgWfcjvgYa18ctt4Viy6WSvIXJEgyCfv3a9nlpygLzptVC8UGV5jv4iCQpAi7b/G3o/yjd99whC1F/W1DiqRi0V1vPmTyokwc98bEAYRV4AwvAqoxedmrbrpokTDN1OhM4JAbKnFiehy9/hYAaroLQb1VzS4e4pKZmp7ob+kPzd1iV2Bqr0t+Q4wVnfSR6mhOawseoN+XxQRZ4xh+xqfPpoDx9WreexBkSKrYI9a0Nm7HvMKawuwqe2XPdVd1GWdNEBi5ZzDfLGYKSwZQGREfFDR1dNNUqdMl/RLuy211M8bZ1wn5RKnlun+RM8HkhNWwQ64UQtwob1fY2iGiqXY0UOJ7PERXaB1YgS2DFUJeW/jPRhaPWzctj88k2jJ2NA5aV90DspJQDWwQtz12fK+8VaQQ7eVaMDB234C3lV/XUQRUBLbSIS424wWHD3E48M9zQ1bjWTMvmCGevzHjrOoEoKsbU84aAdsjSuA2TXDFheUkS92/ZR7WSj1HkLDTcyhFNMbyJOif0Qqg2H1unbyzXLAByZxgBSQ82rl8gFrUuHjS3T/lg+H3Qsdo/F2G7b9LVawj0ptsAp/LVHd5wGxpd9upXe6BO+vqL5ii6Rx0zgx3Q== quocdu@quocdu-Inspiron-5515
